<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{ stylesheet_tags }}

    <title>{{ get_full_title }}</title>
  </head>
  <body>
    <div class="header">
      {{!> header}}
    </div>

    <div class="sidebar">
      {{!> sidebar}}
    </div>

    <div class="content">
      {{{ body }}}
    </div>

    {{ script_tags }}
  </body>
</html>
